POSTGRES_PORT=15432
POSTGRES_HOST=127.0.0.1
KAFKA_BOOTSTRAP_SERVERS=127.0.0.1:29092

# LINE Notify
LINE_NOTIFY_TOKEN=

# SMTP
SMTP_HOST=127.0.0.1
SMTP_PORT=1025
SMTP_USER=
SMTP_PASS=
SMTP_FROM_EMAIL=dcim@localhost
SMTP_FROM_NAME=DCIM System
SMTP_USE_TLS=false

MAINTENANCE_EMAIL_SCAN_SECONDS=60
